<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Home Store | Gift Cards </title>
    <link rel="shortcut icon" href="../assets/Logo/logo.png" type="image/x-icon">
    <!-- Main css link -->
    <link rel="stylesheet" href="../css/giftcard.css">
    <link rel="stylesheet" href="../css/fonts.css">
    <!-- Responsive css link -->
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="stylesheet" href="../css/media.css">
    <!-- Swiper link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <!-- Boxicons icons cdn link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- Font-awsome icons cdn -->
    <script src="https://kit.fontawesome.com/150647c781.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css">
    <!-- Bootstrap 5 cdn link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

    <!-- Pre-loader start -->

    <div id="loader">
    </div>

    <!-- Top Section Start -->
    <div class="top-section">
        <div class="top-icons">
            <a href="#" class="remix">
                <i class="ri-pinterest-fill"></i>
            </a>
            <a href="#" class="remix">
                <i class="ri-facebook-box-fill"></i>
            </a>
            <a href="#" class="remix">
                <i class="ri-instagram-fill"></i>
            </a>
            <a href="#" class="remix">
                <i class="ri-linkedin-box-fill"></i>
            </a>
        </div>
        <div class="top-content">
            <span class="helpline">For Sale Support: Call +91-6239762937</span>
            <i class="ri-smartphone-line remix"></i>
        </div>
    </div>


    <!-- Navbar Section Start -->

    <header id="header">
        <nav class="navbar navbar-expand-lg bg-transparent" id="navbar">
            <div class="container">
                <a class="navbar-brand" href="../components/Home.html">
                    <img src="../assets/Logo/logo1.png" class="img-fluid">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="ri-menu-3-line menu"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="../components/Home.html">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle-none" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Wall Art
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="../components/Woodenbox.html">Acrylic Wall Art</a>
                                </li>
                                <li><a class="dropdown-item" href="../components/Mural.html">Murals Wall Art</a></li>
                                <li><a class="dropdown-item" href="../components/ReligiousAcrylic.html">Religious
                                        Art</a>
                                </li>
                                <li><a class="dropdown-item" href="../components/Canvas.html">Canvas</a></li>
                                <li><a class="dropdown-item" href="../components/Blockout.html">Blockout</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle-none" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Name Plate
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Wooden</a></li>
                                <li><a class="dropdown-item" href="../components/Steel.html">Steel</a></li>
                                <li><a class="dropdown-item" href="../components/HomeplateCustomize.html">Name Plate
                                        Customize</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle-none" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Neon
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="../components/Neon.html">Neon</a></li>
                                <li><a class="dropdown-item" href="../components/Customneon.html">Customize Neon</a>
                                </li>
                                <li><a class="dropdown-item" href="../components/Animate.html">Anime Neon</a></li>
                                <li><a class="dropdown-item" href="../components/Religious.html">Religious Neon</a></li>
                                <li><a class="dropdown-item" href="../components/Birthday-neon.html">Birthday Neon</a>
                                </li>
                                <li><a class="dropdown-item" href="../components/wedding-neon.html">Wedding Neon</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../components/About.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../components/Contact.html">Contact</a>
                        </li>
                    </ul>
                    <div class="social-Icons d-flex justify-content-center">
                        <div class="account">
                            <a href="../components/Login.html" id="Login">Login</a>
                            <span> &nbsp;/&nbsp; </span>
                            <a href="#" id="SignIn">Sign In</a>
                        </div>
                        <!-- Search Section -->
                        <div class="search-box" id="search">
                            <a href="#" class="search" onclick="openSearch()">
                                <i class="ri-search-2-line remix"></i>
                            </a>
                        </div>
                        <!-- Cart section  -->
                        <div class="cart-box" id="cartIcon">
                            <a href="../components/Cart.html" class="cart">
                                <i class="ri-shopping-bag-4-fill remix"></i>
                                <span class="cart_amount" id="cart_amount">0</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- Navbar Section End -->


    <!-- Search Bar Section -->
    <div id="searchOverlay" class="search-overlay">
        <span class="closebtn" onclick="closeSearch()">×</span>
        <div class="overlay-content">
            <form action="#">
                <input type="text" placeholder="Search.." name="search" id="myinput">
                <button type="submit"> <i class="ri-search-2-line remix"></i></button>
            </form>
        </div>
    </div>
    <!-- Search Bar Section end -->

    <!-- Page-content-section start -->
    <section class="main-content">
        <div class="container pt-4">
            <div class="row mt-3">
                <div class="main-text">
                    <ul class="page-start">
                        <a href="../home.html" class="home-link"><i class="ri-home-2-line"></i> Home</a>
                        <i class="ri-arrow-drop-right-line"></i>
                        <a href="../components/GiftCard.html" class="active-link"> Gift Cards</a>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Page-content-section end -->


    <!-- gift-card section start -->
    <section class="card-customize" id="card">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12 py-3">
                    <div class="image-box">
                        <div class="main-image">
                            <img src="../assets/image/Giftcard/image1.png" id="changeImg">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-image">
                            <div class="Images">
                                <img src="../assets/image/Giftcard/image1.png" onclick="showImg(this.src)">
                            </div>
                            <div class="Images">
                                <img src="../assets/image/Giftcard/image2.png" onclick="showImg(this.src)">
                            </div>
                            <div class="Images">
                                <img src="../assets/image/Giftcard/image3.png" onclick="showImg(this.src)">
                            </div>
                            <div class="Images">
                                <img src="../assets/image/Giftcard/image4.png" onclick="showImg(this.src)">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12 py-3 border">
                    <div class="container">
                        <div class="row">
                            <div class="GiftCard-container">
                                <div class="card-content">
                                    <h2>ADDRESS HOME GIFT CARD</h2>
                                </div>
                                <div class="price-content">
                                    <p id="outputPrice">₹ 5,000</p>
                                    <hr>
                                </div>
                                <div class="card-text">
                                    <h5>Denominations:</h5>
                                </div>
                                <div class="card-button">
                                    <button class="price-button" id="changeButton1">₹ 5,000</button>
                                    <button class="price-button" id="changeButton2">₹ 10,000</button>
                                    <button class="price-button" id="changeButton3">₹ 15,000</button>
                                    <button class="price-button" id="changeButton4">₹ 20,000</button>
                                </div>
                                <div class="Cart_button">
                                    <a href="#" class="right-slide">
                                        <span>Add to Cart</span>
                                    </a>
                                </div>
                                <div class="card-info">
                                    <ol>
                                        <li>1. Gift Cards can be used only at Our Online Store www.myhomestore.in</li>
                                        <li>2. Gift Cards cannot be used to purchase other Gift Cards.</li>
                                        <li>3. If the order value exceeds the Gift Card amount, the balance must be paid
                                            by Credit Card/Debit Card/Internet Banking / Digital Wallets.</li>
                                        <li>4. Gift Cards will expire after 6 months from the date of issue and
                                            equivalent unused balance shall be forfeited, thereafter.</li>
                                        <li>5. Gift Cards cannot be redeemed for Cash but Address Home will provide you
                                            with equivalent Store Credits in case you haven't consumed the total Value
                                            of the Card, which should be consumed in a frame of Six Months Only.</li>
                                        <li>6. Gift Card number is confidential. In the event of any misuse of Gift Card
                                            due to loss of any such confidential details we won't be held responsible.
                                        </li>
                                        <li>7. Validity of Gift Cards cannot be extended.</li>
                                        <li>8. This is an e-gift card, cannot be shipped.</li>
                                        <li> 9. For Further Assistance reach out to us at we@myhomestore.in</li>
                                    </ol>
                                </div>
                                <div class="share-info">
                                    <span>Share :</span>
                                    <li class="icons">
                                        <i class="ri-facebook-box-fill remix"></i>
                                        <i class="ri-linkedin-box-fill remix"></i>
                                        <i class="ri-twitter-x-fill remix"></i>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- gift-card section end -->


      <!-- Footer section start -->
      <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-md-12">
                    <div class="single-box">
                        <img src="../assets/Logo/logo.png">
                        <h6>If you have any query just contact us through the following methods.</h6>
                        <h3>CONTACT INFORMATION</h3>
                        <div class="information-section">
                            <li><a href="tel:+6239762937" class="info-text"><i class="fa-solid fa-phone"></i>&nbsp;
                                    +91 6239762937
                                </a>
                            </li>
                            <li><a href="mailto:Myhomestore@gmail.com" class="info-text"><i
                                        class="fa-solid fa-envelope"></i>&nbsp;
                                    Myhomestore@yahoo.com </a></li>
                            <li><a href="https://www.google.co.in/maps/place/MAHI+CREATIONS/@30.6617122,76.8174466,17z/data=!3m1!4b1!4m6!3m5!1s0x390feb49551e33f1:0x72ec87f631e471ab!8m2!3d30.6617122!4d76.8200215!16s%2Fg%2F11f5hp_zk3?entry=ttu"
                                    class="info-text"><i class="fa-solid fa-location-dot"></i>&nbsp;
                                    MR6C+M2J, Zirakpur, Punjab 140603
                                </a></li>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-box">
                        <h2>Our Services</h2>
                        <ul>
                            <li><a href="#">Career</a></li>
                            <li><a href="../components/CompanyFAQ.html">Company FAQS</a></li>
                            <li><a href="#">Special Offers</a></li>
                            <li><a href="../components/Shipping.html">Free and Fast Shipping</a></li>
                            <li><a href="../components/GiftCard.html">Gift Cards</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="single-box">
                        <h2>Quick Links</h2>
                        <ul>
                            <li><a href="../index.html">Home</a></li>
                            <li><a href="../components/About.html">About us</a></li>
                            <li><a href="../components/Contact.html">Contact us</a></li>
                            <li><a href="../components/FAQS.html">FAQ</a></li>
                            <li><a href="../components/Terms_of_use.html">Terms Of Use</a></li>
                            <li><a href="../components/Policy.html">Privacy Policy</a></li>
                            <li><a href="../components/TermsCondition.html">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-box">
                        <h3 class="text-uppercase">Subscribe Our Newsletter</h3>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Enter Your Email"
                                aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <span class="input-group-text" id="basic-addon2"><i class="ri-arrow-right-line"></i></span>
                        </div>
                        <h3 class="text-uppercase">Get In Touch</h3>
                        <p class="Social">
                            <a href="#"><img src="../assets/image/Social/facebook.png" class="img-fluid"></a>
                            <a href="#"><img src="../assets/image/Social/instagram.png" class="img-fluid"></a>
                            <a href="#"><img src="../assets/image/Social/x.png" class="img-fluid"></a>
                            <a href="#"><img src="../assets/image/Social/linkedin.png" class="img-fluid"></a>
                            <a href="#"><img src="../assets/image/Social/pinterest.png" class="img-fluid"></a>
                        </p>
                        <div class="card-area">
                            <div class="paymentImage">
                                <img src="../assets/image/Social/visa.png">
                            </div>
                            <div class="paymentImage">
                                <img src="../assets/image/Social/credit.png">
                            </div>
                            <div class="paymentImage">
                                <img src="../assets/image/Social/debit-card.png">
                            </div>
                        </div>
                    </div>
                </div>
    </section>

    <!-- Footer section End -->


    <!-- Copyright Section Start -->
    <div class="text-center copyright-content p-3 copyright" style="color: #fff;">
        © Copyright 2024 &nbsp;|
        <a class="copyright-text" id="copyright-text" href="#"> &nbsp;My Home Store &nbsp;</a>| &nbsp; All Rights
        Reserved.
    </div>

    <!-- copyright Section End -->

    <!-- whats app chats -->
    <a class="whats-app" href="https://wa.me/6239762937" target="_blank">
        <i class="fa fa-whatsapp my-float"></i>
    </a>

    <!-- whats app chats -->


    <!-- TOP SCROLL BUTTON -->
    <button onclick="topFunction()" id="myBtn"><i class="ri-arrow-up-s-line remix"></i></button>



    <!-- Swiper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../javascript/data.js"></script>
    <script src="../javascript/giftcard.js"></script>
    <script src="../javascript/App.js"></script>
    <script src="../javascript/script.js"></script>
    <script>
        jQuery(function ($) {
            var $navbar = $('header');
            $(window).scroll(function (event) {
                var $current = $(this).scrollTop();
                if ($current > 0) {
                    $navbar.addClass('navbar-color');
                } else {
                    $navbar.removeClass('navbar-color');
                }
            });
        })
    </script>
</body>

</html>